# OpenAI
OPENAI_API_KEY = ""
OPENAI_BASE_URL = ""

# Anthropic
ANTHROPIC_API_KEY = ""

GEMINI_API_KEY = ""

LITELLM_MASTER_KEY = "sk-1234"
DATABASE_URL = "postgresql://llmproxy:dbpassword9090@db:5432/litellm"
STORE_MODEL_IN_DB = "True"

# Global window size for rate limit (60s)
# So RPM/TPM is read as "request per minute" but if we change the window
# it's really in terms of the window. So 1 would be 1s 3600 would be 1hr etc
LITELLM_RATE_LIMIT_WINDOW_SIZE = 60

PRESIDIO_ANALYZER_API_BASE = "http://localhost:5002"
PRESIDIO_ANONYMIZER_API_BASE = "http://localhost:5001"

GITHUB_OAUTH_CLIENT_ID = ""
GITHUB_OAUTH_CLIENT_SECRET = ""