OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
GEMINI_API_KEY=""
RATELIMIT_HOST="host.docker.internal"
OPEN_API_SCHEMA_PATH=/app/openapi.json
OLTP_TRACING_HOST="host.docker.internal"
KEYCLOAK_HOST="host.docker.internal"
CUSTOM_WEBHOOK_HOST_MODELARMOR="host.docker.internal"
FAILOVER_HOST="host.docker.internal"
EXT_AUTHZ_HOST="host.docker.internal"